.programWrite__container {
    max-width: 600px;
    margin: 0 auto
}

.programWrite__container textarea {
    width: 100%;
    resize: vertical;
    height: 60px;
}

.programWrite__row-setting {
    display: flex;
}

.programWrite__column {
    flex: 0 0 33.3333%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.programWrite__item {
    background-color: lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 38px;
}

.programWrite__table {
    width: 100%;
}